body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.relogio-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.relogio {
    font-size: 24px;
}

.js-select2-container {
    width: 200px;
}

#form-fusos {
    text-align: center;
}