body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.slider-container {
    margin: 20px auto;
    max-width: 800px;
}

.slider {
    margin: 0 auto;
    width: 80%;
    height: 331px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 331px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.manual-navigation, .navigation-auto {
    position: absolute;
    width: 80%;
    display: flex;
    justify-content: center;
}

.manual-btn, .navigation-auto div {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child), .navigation-auto div:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover, .navigation-auto div:hover {
    background-color: #fff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

section {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #000;
}

th, td {
    text-align: center;
    padding: 10px;
}

.caption {
    text-align: center;
    font-weight: bold;
}

.total-stats {
    margin-top: 20px;
}