/* Estilos para a tela de aprovação */

.approval-container {
    text-align: center;
    width: 80%;
    margin: 0 auto; /* Centralizar o container na tela */
}

.approval-container h2 {
    margin-top: 20px; /* Ajuste conforme necessário */
    color: #333;
    text-align: center; /* Alinhar o título ao centro */
}

.policy-details {
    margin-top: 20px;
    text-align: left;
}

.policy-details h3 {
    margin-top: 0;
    color: #333;
    text-align: center; /* Alinhar o título ao centro */
}

.policy-details label,
.policy-details textarea,
.policy-details button {
    margin: 10px 0;
    width: 100%;
}

.policy-details textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.policy-details button {
    margin: 5px 0;
    background-color: #007BFF; /* Cor de fundo azul */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.policy-details button:hover {
    background-color: #0056b3; /* Cor de fundo azul mais escura ao passar o mouse */
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: #fff;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
    color: #333;
}

th {
    background-color: #f2f2f2;
}
