body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    width: 80%;
    margin: 0 auto; 
}
.approval-container {
    padding: 20px;
}


.logo {
    margin-bottom: 20px;
    text-align: center; 
}

.logo img {
    max-width: 100%; 
    height: auto;
}


.login-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
}

.login-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin-bottom: 20px;
}

.login-card form {
    display: flex;
    flex-direction: column;
}

.login-card form label,
.login-card form input {
    margin-bottom: 10px;
}

.login-card form button {
    margin-top: 10px;
}

h2 {
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"], input[type="codigo"], input[type="password"], input[type="file"], select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
    color: #333;
}

th {
    background-color: #f2f2f2;
}

.approval-container h2 {
    margin-top: 20px; 
    color: #333;
    text-align: center; 
}


.policy-details {
    margin-top: 20px;
    text-align: left;
}

.policy-details h3 {
    margin-top: 20px; 
    color: #333;
    text-align: center; 
}

.policy-details label, .policy-details textarea, .policy-details button {
    margin: 10px 0;
    width: 100%;
}

.policy-details textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.policy-details button {
    margin: 5px 0;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.policy-details button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        align-items: center;
    }

    .login-card, .form-container, .approval-container {
        width: 100%;
    }
}
